.header {
  text-align: center;
  
}

/*gallery layout*/
.photo-gallery {
  display: flex;
  flex-wrap: wrap;
}

/*photo boarder*/
.photo-container {
  position: relative;
  width: 30vw;
  height: 475px;
}
/*paragraph of location and photographer*/
.photo-container p{
  float: center;
  position: absolute;
  visibility: hidden;
  bottom: 0;
  text-align: center;
}

div.p {
  font-size: large;
}
/* opacity  */
.photoInfos {
  display: inline-block;
  height: 300px;
  width: 30vw;
}

.photo-container:hover {
  opacity: 0.5;
}
.photo-container:hover p {
  visibility: visible;
}
/* photo */
.photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; 
}
.photo1 {
  background-image: url('../galleryImages/image/img-2.jpg');
}
.photo2 {
  background-image: url('../galleryImages/image/img-3.jpg');
}
.photo3 {
  background-image: url('../galleryImages/image/img-4.jpg');
}
.photo4 {
  background-image: url('../galleryImages/image/img-5.jpg');
}
.photo5 {
  background-image: url('../galleryImages/image/img-6.jpg');
}
.photo6 {
  background-image: url('../galleryImages/image/img-7.jpg');
}
.photo7 {
  background-image: url('../galleryImages/image/img-8.jpg');

}
.photo8 {
  background-image: url('../galleryImages/image/img-9.jpg');
}
.photo9 {
  background-image: url('../galleryImages/image/img-10.jpg');
}
.photo10 {
  background-image: url('../galleryImages/image/img-11.jpg');
}
.photo11 {
  background-image: url('../galleryImages/image/img-12.jpg');
}
.photo12 {
  background-image: url('../galleryImages/image/img-13.jpg');
}
.photo13 {
  background-image: url('../galleryImages/image/img-14.jpg');
}
.photo14 {
  background-image: url('../galleryImages/image/img-1.jpg');
}

