.body{
    background-image: url ("https://cdn.cnn.com/cnnnext/dam/assets/200311093607-jeff-divine-surf-70s-1.jpg");
    background-color: #cccccc;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.homeForm{
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
}
#homeSearch{
    
}