
html{
    height: 100%;
}
body{
    background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/200311093607-jeff-divine-surf-70s-1.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    max-width: auto;
    
}
hr{
    color: #000000;
    border-top: 5px;

}
.homeForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

#homeSearch{
    /* text */
    text-align: center;
    font-size: 6vh;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;

    display: flex;
    width: 80vh;
    height: 8vh;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
    opacity: 0.7;
    /* transition: all 1s ease-in-out; */
    
}

#homeSearch:focus{
    width: 85vh;
    height: 11vh;
    transition: all .5s ease-in-out;
    outline: none;
    text-align: left;
    text-indent: 20px;
}

#searchDropdown{
    /* text  */
    text-align: left;
    font-size: 30px;
    /* field */
    box-sizing: border-box;
    position: inherit;
    width: 95%;
    height: auto;
    background-color: #66BEC4;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    opacity: 0.7;

}

@media only screen and (max-width: 1160px) {
    body {
      background-color: lightblue;
      
    }
  }