


hr {
    border: 0.05vw solid black;
    margin-top: 0.1vw;
}

.header {
    height: 10vw;
}

.spot-image {
    border-radius: 10px;
    background-image: url(../caparica/Caparica-Primaver-Surf-Fest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 30vw;
    margin: 0.5vw 0.5vw 0.25vw 0.5vw;
}

.spot-name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 28vw;  
    padding-right: 0.5vw;
    color:black;
    font-family: fantasy;
    font-size: 350%;
}

.bloc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bloc {
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 0.25vw solid white;
    color:black;
    font-family: fantasy;
    font-size: 230%;
}

.kind-wave {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0vw 0.25vw 0vw 0.25vw;
    padding-bottom: 0.75vw;
}

.wave-title {
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    
}

.wave-text {
    color:black;
    font-family: monospace;
    font-size: 50%;
    margin-top: 2vw;
    text-align: justify;
    line-height: 1.5vw;
}

.surrounding-1 {
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 0vw 0vw 0.25vw;
}

.surrounding-title {
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.surrounding-1-text {
    color:black;
    font-family: monospace;
    font-size: 50%;
    margin-top: 2vw; 
    text-align: justify;
    line-height: 1.5vw;
}

.surrounding-2 {
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0vw 0.25vw 0vw 0vw;
}

.surrounding-2-pic {
    border-radius: 10px;
    background-image: url(../caparica/costa-da-caparica.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 30vw;
}

.surrounding-3 {
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0vw 0vw 0vw 0.25vw;
}

.surrounding-3-pic {
    border-radius: 10px;
    background-image: url(../caparica/costaSAFE.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 29vw;
    margin:auto;
}

.surrounding-4 {
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 0.25vw 0vw 0vw;
}

.surrounding-4-text {
    color:black;
    font-family: monospace;
    font-size: 50%;
    text-align: justify;
    line-height: 1.5vw;
}

.forecast {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom: 1vw;
    display: grid;
    margin: 0vw 0.25vw 0vw 0.25vw;


}

.forecast-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.forecast-pic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#lol {
    width: 39vw;
}

.forecast-frame {
    width: 100%;
    height: 344px;
    margin-left: 0px;
    margin-right: 0px;
}

.forecast-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    height: 65px;
}

.map {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-template-rows: 1fr 3fr;
    padding-bottom: 1vw;
    display: grid;
    margin: 0vw 0.25vw 0.25vw 0.25vw;
} 

.map-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 2.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.map-text {
    color:black;
    font-family: monospace;
    font-size: 50%;
    margin-top: 2vw;
    text-align: justify;
    line-height: 1.5vw;
}

.map-pic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.map-frame {
    border-radius: 10px;
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.footer {
    height: 7vw;
}