

hr {
    border: 0.05vw solid black;
    margin-top: 0.1vw;
}

.header {
    height: 10vw;
}

.bloc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bloc {
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 0.25vw solid white;
    color:black;
    font-family: fantasy;
    font-size: 230%;
}

.spot-image {
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 10px;
    background-image: url(../caparica/Caparica-Primaver-Surf-Fest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100%;
    margin: 0.5vw 0.5vw 0.25vw 0.5vw;
}

.spot-name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 28vw;  
    padding-right: 0.5vw;
    color:black;
    font-family: fantasy;
    font-size: 350%;
}

.kind-wave {
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0vw 0.25vw 0vw 0.25vw;
    padding: 0.75vw 0vw 0.75vw 0vw;
}

.wave-title {
    text-align: center;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.wave-text {
    color:black;
    font-family: monospace;
    font-size: 50%;
    margin-top: 2vw;
    text-align: justify;
    line-height: 1.5vw;
}

.surrounding-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 0vw 0vw 0.25vw;
}

.surrounding-title {
    text-align: center;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.surrounding-1-text {
    color:black;
    font-family: monospace;
    font-size: 50%;
    margin-top: 2vw; 
    text-align: justify;
    line-height: 1.5vw;
}

.surrounding-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0vw 0.25vw 0vw 0vw;
}

.surrounding-2-pic {
    border-radius: 10px;
    background-image: url(../caparica/costa-da-caparica.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 30vw;
}

.surrounding-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0vw 0vw 0vw 0.25vw;
}

.surrounding-3-pic {
    border-radius: 10px;
    background-image: url(../caparica/costaSAFE.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 29vw;
}

.surrounding-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 0.25vw 0vw 0vw;
}

.surrounding-4-text {
    color:black;
    font-family: monospace;
    font-size: 50%;
    text-align: justify;
    line-height: 1.5vw;
}

.forecast {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-bottom: 1vw;
    display: grid;
    margin: 0vw 0.25vw 0vw 0.25vw;
    padding: 0.75vw 0vw 0vw 0vw;
}

.forecast-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding: 0.5vw 0.5vw 2vw 0.5vw;
}

.forecast-pic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    margin: 0vw 0vw 2vw 0vw;
}

#lol {
    border: 0.25vw solid black;
    border-radius: 10px;
    background-color:black;
}

.forecast-frame {
    width: 100%;
    height: 344px;
}

.forecast-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    height: 65px;
}

.map {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-template-rows: 1fr 3fr;
    padding-bottom: 1vw;
    display: grid;
    margin: 0vw 0.25vw 0.25vw 0.25vw;
    padding: 0.75vw 0vw 0.75vw 0vw;
} 

.map-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding: 0.5vw 0.5vw 2.5vw 0.5vw;
}

.map-text {
    color:black;
    font-family: monospace;
    font-size: 50%;
    margin-top: 2vw;
    text-align: justify;
    line-height: 1.5vw;
}

.map-pic {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 0.75vw;
    border: 0.25vw solid black;
    border-radius: 10px;
    margin: 0vw 3vw 1.3vw 3vw;
    background-color: black;
}

.map-frame {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.footer {
    height: 7vw;
}

@media screen and (max-width: 1096px) {
    .surrounding-2-pic { 
        height: 100%;
     }
}

@media screen and (max-width: 906px) {
    .surrounding-3-pic { 
        height: 100%;
     }
}

@media screen and (max-width: 776px) {

    .bloc-container {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .spot-image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;  
    }
    
    .kind-wave { 
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;  
     }

     .wave-text {
        line-height: normal;
     }

    .surrounding-1 { 
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;  
     }

     .surrounding-1-text {
        line-height: normal;
     }

    .surrounding-2 { 
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5; 
     }

     .surrounding-2-pic{
        height: 79vw;
     }

     .surrounding-3 { 
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;  
     }

     .surrounding-3-pic {
        height: 79vw;
     }

     .surrounding-4
    { 
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;  
     }

     .surrounding-4-text {
        line-height: normal;
     }

     .forecast{ 
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;  
     }

     .map { 
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;  
     }

     .map-text {
        line-height: normal;        
     }
}