

hr {
    border: 0.05vw solid black;
    /* background-color:white; */
    margin-top: 0.1vw;
}

.header {
    height: 10vw;
}

.spot-image {
    /* width: 100vw; */
    height: 30vw;
    /* margin-bottom: 0.25vw; */
    margin: 0.5vw 0.5vw 0.25vw 0.5vw;
}

.spot-name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 28vw;  
    padding-right: 0.5vw;
}

.bloc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 97vw; */
    /* height: 200vw; */
    /* margin: auto */
}

.bloc {
    border-radius: 25px;
    background-color: #f5f5f5;
    border: 0.25vw solid white;
    /* height: 50vw; */
}

.kind-wave {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0vw 0.25vw 0vw 0.25vw;
    /* margin: 0.5vw 0.5vw 0.3vw 0.5vw; */
    /* width: 99vw; */
    /* height: 25vw; */
    padding-bottom: 0.75vw;
    /* display: grid; */
}

.wave-title {
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.wave-text {
    text-align: justify;
}

.surrounding-1 {
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 0vw 0vw 0.25vw;

    /* width: 49vw; */
    /* height: 25vw; */
}

.surrounding-title {
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.surrounding-1-text {
    text-align: justify;
}

.surrounding-2 {
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0vw 0.25vw 0vw 0vw;
 /* width: 100vw; */
    /* height: 30vw;
    margin-bottom: 0.25vw;
    margin:auto; */
    /* width: 49vw; */
    /* height: 25vw; */
}

.surrounding-2-pic {
    /* width: 100vw; */
    height: 30vw;
    /* margin:auto; */
}

.surrounding-3 {
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0vw 0vw 0vw 0.25vw;

    /* width: 49vw; */
    /* height: 25vw; */
}

.surrounding-3-pic {
    /* width: 100vw; */
    height: 29vw;
    margin:auto;
}

.surrounding-4 {
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 0.25vw 0vw 0vw;

    /* width: 49vw; */
    /* height: 25vw; */
}

.surrounding-4-text {
    text-align: justify;
}

.forecast {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom: 1vw;
    /* height: 29vw; */
    /* width: 99vw; */
    display: grid;
    margin: 0vw 0.25vw 0vw 0.25vw;


}

.forecast-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.forecast-pic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}


/* .forecast-fit {
    width: auto;

} */

.forecast-frame {
    width: 39vw;
    height: 344px;
    margin-left: 0px;
    margin-right: 0px;
}

.forecast-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    height: 65px;
}

/* .logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
} */

.map {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    /* height: 34vw; */
    /* width: 99vw; */
    grid-template-rows: 1fr 3fr;
    padding-bottom: 1vw;
    margin: 0vw 0.25vw 0.25vw 0.25vw;
    display: grid;
} 

.map-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 2.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.map-text {
    text-align: justify;
}

.map-pic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.map-frame {
    border-radius: 25px;
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.footer {
    height: 7vw;
}